<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/admDefault}">
<head>
    <meta charset="utf-8">
    <title>AdminMain</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>-->
</head>
<body>
    <div layout:fragment="content">
        <div class="content">
            <div class="column">
                <div class="card card-default">
                        <div class="card-header">
                            <h2>상세보기</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th class="text-center">문의 제목</th>
                                    <td th:text="${boardDTO.getBoardTitle()}"></td>
                                </tr>
                                <tr>
                                    <th class="text-center">문의 카테고리</th>
                                    <td th:text="${boardDTO.getBoardCategory()}"></td>
                                </tr>
                                <tr>
                                    <th class="text-center">작성자</th>
                                    <td th:text="${boardDTO.userId}"></td>
                                </tr>
                                <tr>
                                    <th class="text-center">문의 내용</th>
                                    <td>
                                        <div class="col-md-8" th:utext="${boardDTO.getBoardContent()}"></div>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h2>문의 답변하기</h2>
                    </div>
                    <div class="card-body">
                        <form action="/admin/inquiry/answer" method="post">
                            <input type="hidden" name="boardSeq" id="boardSeq" th:value="${boardDTO.getBoardSeq()}">
                            <div  class="col-md-8">
                                <div id="summernote" name="editordata" th:if="${boardDTO.getAnswer() == null}" ></div>
                                <div th:unless="${boardDTO.getAnswer() == null}" th:utext="${boardDTO.getAnswer()}"></div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" id="updateInquiry" class="btn btn-primary m-3" th:if="${boardDTO.getAnswer() == null}">답변 등록</button>
                                <button type="button" class="btn btn-outline-primary m-3"  onclick="window.location.href='/admin/inquiry';">목록으로</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#summernote').summernote({
                    lang: 'ko-KR',
                    callbacks: {
                        onImageUpload : function(files, editor, welEditable) {
                            // 다중 이미지 처리를 위해 for문을 사용했습니다.
                            for (var i = 0; i < files.length; i++) {
                                imageUploader(files[i], this);
                            }
                        }
                    }
                });
            });
            $('#updateInquiry').click(function() {
                const content = $('#summernote').summernote('code');
                // alert(message);
                $.ajax({
                    url: "/admin/inquiry/answer",
                    type: "post",
                    data: {
                        "boardSeq":$('#boardSeq').val(),
                        "answer":content
                    },
                    success: function(data) {
                        console.log(data);
                        window.location.href='/admin/inquiry';
                    },
                    error:function(error) {
                        console.log(error);
                    }
                })
            });
        </script>
    </div>
</body>
</html>