<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/admDefault}">
<head>
    <meta charset="utf-8">
    <title>AdminMain</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>
<body>
    <div layout:fragment="content">
        <div class="content">
            <div class="column">
                <div class="card card-default">
                        <div class="card-header">
                            <h2>상세보기</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th class="text-center">문의 제목</th>
                                    <td th:text="${boardDTO.getBoardTitle()}"></td>
                                </tr>
                                <tr>
                                    <th class="text-center">문의 카테고리</th>
                                    <td th:text="${boardDTO.getBoardCategory()}"></td>
                                </tr>
                                <tr>
                                    <th class="text-center">작성자</th>
                                    <td th:text="${boardDTO.userId}"></td>
                                </tr>
                                <tr>
                                    <th class="text-center">문의 내용</th>
                                    <td>
                                        <div class="col-md-8" th:utext="${boardDTO.getBoardContent()}"></div>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h2>문의 답변하기</h2>
                    </div>
                    <div class="card-body">
                        <form action="/admin/inquiry/answer" method="post">
                            <input type="hidden" name="boardSeq" th:value="${boardDTO.getBoardSeq()}">
                            <div class="col-md-8"  id="summernote" name="editordata" th:if="${boardDTO.getAnswer() == null}" ></div>
                            <div class="col-md-8" th:unless="${boardDTO.getAnswer() == null}" th:utext="${boardDTO.getAnswer()}"></div>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary m-3" id="send-post-2" th:if="${boardDTO.getAnswer() == null}">답변 등록</button>
                                <button type="button" class="btn btn-outline-primary m-3"  onclick="window.location.href='/admin/inquiry';">목록으로</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>