<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/admDefault}">
<head>
    <meta charset="UTF-8">
    <title>상세 정보 조회</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        a {
            color: purple;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <h1>상세 정보 조회</h1>
    <table>
                <thead>
                <tr>
<!--                    <th>유저 시퀀스 변경</th>-->
                    <th>이름</th>
                    <th>이메일</th>
                    <th>생년월일</th>
                    <th>휴대번호</th>
                    <th>주소</th>
                    <th>제품명</th>
                    <th>제품번호</th>
                    <th>주문날짜</th>
                    <th>상품가격</th>
                </tr>
                </thead>
        <tbody>
        <tr th:each="order : ${detailOrderList}">
<!--            <td th:text="${order.userSeq}"></td>-->
            <td th:text="${order.userName}"></td>
            <td th:text="${order.userEmail}"></td>
            <td th:text="${order.userRrn}"></td>
            <td th:text="${order.userPhone}"></td>
            <td th:text="${order.userAddr}"></td>
            <td th:text="${order.productName}"></td>
            <td th:text="${order.productSeq}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.productPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>