<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside th:fragment="asideFragment">
    <div id="sidebar" class="sidebar sidebar-with-footer">
        <!-- Aplication Brand -->
        <div class="app-brand">
            <a href="/auth/adminMain">
                <img src="../../../images/logo.png" alt="NotImplement">
                <span class="brand-name">NotImplement</span>
            </a>
        </div>
        <!-- begin sidebar scrollbar -->
        <div class="sidebar-left" data-simplebar style="height: 100%;">
            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="active">
                    <a class="sidenav-item-link" href="/admin/main">
                        <i class="bi bi-house-door-fill"></i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>

        <!--  users      -->
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#users"
             aria-expanded="false" aria-controls="users">
              <i class="bi bi-people"></i>
            <span class="nav-text">회원</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="users" data-parent="#sidebar-menu">
            <div class="sub-menu">
              <li>
                <a class="sidenav-item-link" href="/auth/userList">
                  <span class="nav-text">회원 관리</span>
                </a>
              </li>
            </div>
          </ul>
        </li>

        <!--   Product     -->
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#product"
             aria-expanded="false" aria-controls="product">
            <i class="mdi mdi-image-filter-none"></i>
            <span class="nav-text">상품</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="product" data-parent="#sidebar-menu">
            <div class="sub-menu">
              <li>
                <a class="sidenav-item-link" href="/product/dashboard">
                  <span class="nav-text">상품 대시보드</span>
                </a>
              </li>
              <li>
                <a class="sidenav-item-link" href="/product/management">
                  <span class="nav-text">상품 관리</span>
                </a>
              </li>
            </div>
          </ul>
        </li>

        <!--  orders      -->
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#orders"
             aria-expanded="false" aria-controls="users">
            <i class="mdi mdi-image-filter-none"></i>
            <span class="nav-text">주문대시보드</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="orders" data-parent="#sidebar-menu">
            <div class="sub-menu">
              <li>
                <a class="sidenav-item-link" href="/order/infoLookup">
                  <span class="nav-text">주문정보조회</span>
                </a>
              </li>
              <li>
                <a class="sidenav-item-link" href="/order/detailInfo">
                  <span class="nav-text">상세정보조회</span>
                </a>
              </li>
            </div>
          </ul>
        </li>

                <!--    delivery    -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                       data-target="#delivery"
                       aria-expanded="false" aria-controls="users">
                        <i class="bi bi-truck"></i>
                        <span class="nav-text">주문/배송</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse" id="delivery" data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li>
                                <a class="sidenav-item-link" onclick="location.href='/admin/delivery'">
                                    <span class="nav-text">배송조회/관리</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>

                <!--  board      -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#board"
                       aria-expanded="false" aria-controls="board">
                        <i class="mdi mdi-image-filter-none"></i>

            <span class="nav-text">게시판 관리</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="board" data-parent="#sidebar-menu">
            <div class="sub-menu">
              <li>
                <a class="sidenav-item-link" th:href="@{/admin/inquiry}">
                  <span class="nav-text">1:1 문의 관리</span>
                </a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
</aside>
</body>
</html>