<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.notimplement.user.model.dao.UserMapper">

    <select id="getAvailablePoint">
        SELECT
        IFNULL(SUM(POINT_AMOUNT), 0)
        FROM POINT
        WHERE
        USER_SEQ=(select user_seq from user where user_id=#{userId})
    </select>

    <select id="getReturningPoint">
        SELECT
        IFNULL(sum(op.order_item_price*op.order_item_amount), 0)
        FROM reasons_for_refund rfr
        JOIN `order` o ON o.order_seq=rfr.order_seq
        JOIN order_product op ON o.order_seq=op.order_seq
        WHERE
        rfr.refund_complete_date IS NOT NULL
        AND
        o.user_seq=(select user_seq from user where user_id=#{userId})
    </select>

    <insert id="refundPoint">
        <if test="getAvailablePoint >= point and point > 0">
            INSERT INTO
            point (point_amount, point_date, user_seq)
            VALUES
            (
            #{point}*(-1),
            NOW(),
            (select user_seq from user where user_id=#{userId})
            )
        </if>
    </insert>

    <insert id="pointCharge">
        INSERT INTO
        POINT (point_amount, point_date, user_seq)
        VALUES
        (
        #{point},
        NOW(),
        (select user_seq from user where user_id=#{userId})
        )
    </insert>
</mapper>