<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.notimplement.user.model.dao.UserMapper">

    <select id="getAvailablePoint">
        SELECT
        SUM(POINT_AMOUNT)
        FROM POINT
        WHERE USER_SEQ=#{userId}
    </select>

    <insert id="refundPoint">
        <if test="getAvailablePoint >= point and point > 0">
            INSERT INTO
            point (point_amount, point_date, user_seq)
            VALUES
            (#{point}*(-1), NOW(), #{userId})
        </if>
    </insert>
</mapper>