<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/admDefault}">
<head>
    <meta charset="utf-8">
    <title>AdminMain</title>
</head>
<body>
<div layout:fragment="content">
        <div class="content">
            <div class="row">

                <div class="col-xl-3 col-sm-6">
                    <div class="card card-default card-mini">
                        <div class="card-header">
                            <h2>결제완료</h2>
                        </div>
                        <div class="card-body">
                            <a href="#">0</a>건
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="card card-default card-mini">
                        <div class="card-header">
                            <h2>환불신청(주문)</h2>
                        </div>
                        <div class="card-body">
                            <a href="#">0</a>건
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="card card-default card-mini">
                        <div class="card-header">
                            <h2>환불신청(배송)</h2>
                        </div>
                        <div class="card-body">
                            <a href="#">0</a>건
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="card card-default card-mini">
                        <div class="card-header">
                            <h2>1:1문의</h2>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/admin/inquiry?status=1}">[[${countInquiry}]]</a>건
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>