<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/userMyPageDefault}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .side_cont {
            margin-top: 300px;
            float: left;
            width: 400px;
        }

        .side_cont li {
            list-style: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <h2>적립금</h2>
    <hr>
    <div>
            <span class="data">
            <strong class="title">사용가능 적립금</strong>
                <span th:text="${availablePoint}"></span>원
            </span>
        <span class="data">
            <strong class="title">환불예정 적립금</strong>
                <span th:text="${returningPoint}"></span>원
            </span>
    </div>
</div>

</body>
</html>