<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/userMyPageDefault}">
<head>
    <meta charset="UTF-8">
    <title>1:1문의</title>

</head>
<body>
<div layout:fragment="content">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th class="text-center">문의 제목</th>
            <td th:text="${boardDTO.getBoardTitle()}"></td>
        </tr>
        <tr>
            <th class="text-center">문의 카테고리</th>
            <td th:text="${boardDTO.getBoardCategory()}"></td>
        </tr>
        <tr>
            <th class="text-center">작성자</th>
            <td th:text="${boardDTO.userId}"></td>
        </tr>
        <tr>
            <th class="text-center">문의 내용</th>
            <td>
                <div class="col-md-8" th:utext="${boardDTO.getBoardContent()}"></div>
            </td>
        </tr>
        <tr th:if="${boardDTO.getAnswer() != null}">
            <th class="text-center">문의 답변</th>
            <td>
                <div class="col-md-8" th:utext="${boardDTO.getAnswer()}"></div>
            </td>
        </tr>
        </thead>
    </table>
    <input type="hidden" id="boardSeq" th:value="${boardDTO.getBoardSeq()}">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary m-3" onclick="location.href='/user/inquiry'">목록으로</button>
        <button type="button" class="btn btn-danger m-3" onclick="deleteBoard();" th:if="${boardDTO.getAnswer() == null}">삭제하기</button>
    </div>
    <script>
        function deleteBoard(){
            let boardSeq = $('#boardSeq').val();
            if(confirm()){
                $.ajax({
                    url: "/inquiry/"+boardSeq,
                    type: "delete",
                    data: {
                        "boardSeq":boardSeq,
                    },
                    success: function(data) {
                        console.log(data);
                        alert("삭제되었습니다.");
                        window.location.href='/user/inquiry';
                    },
                    error:function(error) {
                        console.log(error);
                    }
                })
            }
        }

    </script>
</div>


</body>
</html>