<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/userDefault}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <style>
        #pointInfo {
            padding-top: 200px;
        }

        section#pointInfo > div.container {
            background: lightgrey;
            padding: 30px;
        }

        section#pointInfo > div.container > div:last-child {
            display: flex;
            justify-content: space-around;
        }

        #titleContainer {
            display: flex;
            justify-content: space-between;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <section id="pointInfo" class="padding-large">
        <div class="container">
            <div id="titleContainer">
                <h2 id="pointTitle">적립금</h2>
                <div>
                    <button id="chargeBtn" onclick="location.href = '/user/pointCharge'">적립금충전</button>
                    <button id="refundBtn" onclick="location.href = '/user/pointRefund'">환급신청</button>
                </div>
            </div>
            <hr>
            <div>
                <span class="data">
                <strong class="title">사용가능 적립금</strong>
                    <span th:text="${availablePoint}"></span>원
                </span>
                <span class="data">
                <strong class="title">환불예정 적립금</strong>
                    <span th:text="${returningPoint}"></span>원
                </span>
            </div>
        </div>
    </section>
</div>
</body>
</html>