<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/userDefault}">
<head>
    <meta charset="UTF-8">
    <title>상품 상세 정보</title>
    <style>
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <form action="/orderProcess">
        <div class="product-details">
            <input type="hidden" name="productSequence" th:value="${product.sequence()}">
            <input type="hidden" name="month" id="month">

            <div class="form-group">
                <p>브랜드</p>
                <p type="text" class="form-control" th:text="${product.brand()}">
            </div>

            <div class="form-group">
                <p>상품 이름</p>
                <p type="text" class="form-control" th:text="${product.name()}">
            </div>

            <div class="form-group">
                <p>가격</p>
                <p type="text" class="form-control" th:text="${product.price()}">
            </div>

            <div class="form-group">
                <p>설명</p>
                <p type="text" class="form-control" th:text="${product.description()}">
            </div>

            <div class="product-header">
                <div class="rental">
                    <h2 th:text="'렌탈료 1개월~' + ${prices.size()} + '개월'">렌탈료</h2>
                </div>
            </div>

            <div class="rental-period">
                <label for="rental-period-select">렌탈기간</label>
                <select id="rental-period-select" name="month" onchange="getMonth()">
                    <option value="month" disabled selected>선택하세요.</option>
                    <option th:each="price, priceStat : ${prices}"
                            th:text="${priceStat.index + 1} + '개월: ' + ${price}"></option>
                </select>
            </div>

            <div class="form-footer mt-6">
                <button type="submit" class="btn btn-primary btn-pill" id="btnRental">렌탈하기</button>
            </div>
        </div>
    </form>

    <script>
        function getMonth() {
            const selectMonth = document.getElementById('rental-period-select');

            const selectValue = selectMonth[selectMonth.selectedIndex].value;

            const month = selectValue.split(': ')[0].split('개월')[0];

            document.getElementById('month').value = month;
        }
    </script>
</div>
</body>
</html>
