<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.notimplement.board.model.dao.InquiryMapper">

    <insert id="saveInquiry" parameterType="com.ohgiraffers.notimplement.board.model.dto.BoardDTO">
        INSERT INTO board(
            board_title
            ,board_category
            ,board_content
            ,user_id
        ) VALUES (
            #{boardTitle}
            ,#{boardCategory}
            ,#{boardContent}
            ,#{userId}
        )
    </insert>

    <update id="updateInquiry" parameterType="com.ohgiraffers.notimplement.board.model.dto.BoardDTO">
        UPDATE board
        SET
            board_title = #{boardTitle}
            ,board_category = #{boardCategory}
            ,board_content = #{boardContent}
            ,user_id = #{userId}
            ,update_date = #{updateDate}
        WHERE
            board_seq = #{boardSeq}
    </update>

    <update id="deleteInquiry" parameterType="int">
        UPDATE board
        SET
            board_del = 1
        WHERE
            board_seq = #{boardSeq}
    </update>

    <resultMap id="allBoardData" type="com.ohgiraffers.notimplement.board.model.dto.BoardDTO">
        <id column="board_seq" property="boardSeq"/>
        <result column="user_id" property="userId"/>
        <result column="board_title" property="boardTitle"/>
        <result column="board_category" property="boardCategory"/>
        <result column="board_content" property="boardContent"/>
        <result column="reg_date" property="regDate"/>
        <result column="answer" property="answer"/>
        <result column="update_date" property="updateDate"/>
        <result column="board_del" property="boardDel"/>
    </resultMap>

    <select id="showBoardList" parameterType="map" resultMap="allBoardData">
        SELECT
            board_seq
            ,user_id
            ,board_title
            ,board_category
            ,board_content
            ,reg_date
            ,answer
            ,update_date
            ,board_del
        FROM
            board
        WHERE
            board_del = 0
            <if test="status != null and status == 1">
                AND  answer is null
            </if>
            <if test="status != null and status == 2">
                AND  answer is not null
            </if>
            <if test="(strDate != null and strDate != '') or (endDate != null and endDate != '')">
                <choose>
                    <when test="strDate != null and strDate != '' and endDate != null and endDate != ''">
                        AND date_format(reg_date, '%Y-%m-%d') between #{strDate} and #{endDate}
                    </when>
                    <when test="(strDate != null and strDate != '') and (endDate == null or endDate == '')">
                        AND date_format(reg_date, '%Y-%m-%d') >= #{strDate}
                    </when>
                    <when test="(strDate == null or strDate == '') and (endDate != null and endDate != '')">
                        <![CDATA[
                            AND date_format(reg_date, '%Y-%m-%d') =< #{endDate}
                        ]]>
                    </when>
                </choose>
            </if>
    </select>

    <select id="findByBoardSeq" resultMap="allBoardData">
        SELECT
            board_seq
            ,user_id
            ,board_title
            ,board_category
            ,board_content
            ,reg_date
            ,answer
            ,update_date
            ,board_del
        FROM
            board
        WHERE
            board_del = 0
            AND board_seq = #{boardSeq}
    </select>

    <update id="saveInquiryAnswer" parameterType="com.ohgiraffers.notimplement.board.model.dto.BoardDTO">
        UPDATE board
        SET
            answer = #{answer}
            ,update_date = now()
        WHERE
            board_seq = #{boardSeq}
    </update>

    <select id="getCountNotAnswer" resultType="int">
        SELECT
            COUNT(*)
        FROM
            board
        WHERE
            board_del = 0
            AND answer is null
    </select>

</mapper>